/* Header */

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(2, 2, 80);
}

.header-heading {
   padding: 1.5rem 0;
   color: white;
   font-size: 1.5rem;
}

/* Event Listener */

.event-listener {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.event-listener-img {
   margin: 0.5rem;
   border-radius: 0.5rem;
   cursor: pointer;
}

.event-listener-img:hover {
   filter: brightness(50%);
}

.event-listener-btn {
   margin: 1rem 0;
}

/*Add Items */

.add-items {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.add-items-contain {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 1.2rem;
   font-weight: 600;
}

/* Greeting */

.greeting-text {
   color: green;
}

/* useState counter */

.use-state-counter {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.use-state-counter-container {
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.use-state-counter-btn {
   font-size: 1.5rem;
   margin: 0 0.5rem;
}

.use-state-counter-box {
   width: 100px;
   height: 50px;
   border: 2px solid red;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}

/* Ternary Operator Practice */

.ternary-operator-practice {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.ternary-operator-practice-heading {
   padding: 1rem 0;
   font-size: 1.2rem;
   color: violet;
   margin-bottom: 1rem;
}

.ternary-operator-practice-container {
   border: 2px solid blue;
   background-color: azure;
   border-radius: 50%;
   height: 70px;
   width: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all 0.3s ease;
}

.ternary-operator-practice-container:active {
   transform: scale(1.05);
}

.ternary-operator-practice-text {
   font-size: 1.5rem;
   font-weight: 500;
   color: rgb(128, 0, 108);
   transition: all 0.3s ease;
}

/* Toggle Favorite Card */

.toggle-favorite-card {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.toggle-favorite-card-contain {
   margin: 1rem 0;
   border: 1px solid rgb(194, 192, 192);
   padding: 1.3rem 1rem;
   box-shadow: 2px 2px 0.3rem 3px rgb(0, 0, 0);
   border-radius: 0.4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.toggle-favorite-card-img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: rgb(90, 90, 197);
   text-align: center;
   box-shadow: 0 0 8px 1px rgb(0, 0, 0);
   margin: 0.5rem;
}

.toggle-favorite-card-img img {
   height: inherit;
}

.toggle-favorite-card-favorite-icon {
   height: 2rem;
   cursor: pointer;
}

.toggle-favorite-card-favorite-icon img {
   height: inherit;
}

.toggle-favorite-card-name {
   margin-top: 0.5rem;
}

.toggle-favorite-card-detail-section {
   font-size: 1rem;
   font-weight: 600;
   color: rgb(129, 126, 126);
}

/* Box Challenges*/

.boxes-container {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.boxes-contain {
   padding: 1.5rem 0;
}

.box {
   height: 8rem;
   width: 8rem;
   border: 2px solid black;
   display: inline-block;
   margin-right: 0.5rem;
   cursor: pointer;
   border-radius: 5px;
}

/* Jokes Setup With Punchline */

.jokes-container {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.jokes-contain-body {
   margin-top: 1rem;
   padding: 1rem 2rem;
   border: 2px solid red;
   border-radius: 10px;
}

.jokes-body {
   padding: 0.5rem;
   margin: 0.5rem 0;
   border-bottom: 1px solid gray;
}

.jokes-setup-line {
   margin-bottom: 0.5rem;
}

.jokes-btn {
   margin: 0.5rem;
   padding: 0.5rem;
   border-radius: 3px;
   background-color: rgb(10, 97, 1);
   font-size: 0.9rem;
   font-weight: 500;
}
